Repository time-rs/time, pull requests merged in 2022-03, with the labels that each got.

#412 Tighten parsing of leap second times in RFC 3339 and RFC 2822
  CHANGELOG.md
  src/error/component_range.rs
  src/offset_date_time.rs
  src/parsing/parsable.rs
  src/parsing/parsed.rs
  tests/integration/parsing.rs
  tests/integration/serde.rs
Labels: C-keep-open, A-parsing, C-enhancement, A-well-known-format-description

#445 Add replace_ methods to time, date, and datetime
  src/date.rs
  src/offset_date_time.rs
  src/primitive_date_time.rs
  src/time.rs
  tests/integration/date.rs
  tests/integration/offset_date_time.rs
  tests/integration/primitive_date_time.rs
  tests/integration/time.rs
Labels: C-feature-request, C-keep-open, A-core

#381 Add macros for custom serde formats
  Cargo.toml
  src/error/format.rs
  src/macros.rs
  tests/integration/compile-fail/invalid_serializer.rs
  tests/integration/compile-fail/invalid_serializer.stderr
  tests/integration/serde/error_conditions.rs
  tests/integration/serde/macros.rs
  tests/integration/serde/mod.rs
  tests/integration/serde/rfc3339.rs
  tests/integration/serde/timestamps.rs
  time-macros/src/error.rs
  time-macros/src/lib.rs
  time-macros/src/quote.rs
  time-macros/src/to_tokens.rs
Labels: C-feature-request, C-keep-open, A-formatting, A-third-party

#453 Put `quote_internal`'s accumulator at the end.
  time-macros/src/quote.rs
Labels: A-macros, A-perf, C-enhancement
